<thead>
    <tr>
        <th>Title</th>
        <th>Place</th>
        <th>Description</th>
        <th>User</th>
        <th>Like</th>
        <th colspan="4"></th>
    </tr>
</thead>

<tbody>
    <tr>
        <td><%= matter.title %></td>
        <td><%= matter.place %></td>
        <td><%= matter.description %></td>
        <td><%= matter.user.email %></td>
        <td><%= render 'matters/like_button', matter: matter %></td>
        <td><%= link_to 'Show', matter %></td>
        <td><%= link_to 'Edit', edit_matter_path(matter) %></td>
        <td><%= link_to 'Destroy', matter, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
</tbody>