<p id="notice"><%= notice %></p>



<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Crypted password:</strong>
  <%= @user.crypted_password %>
</p>

<p>
  <strong>Salt:</strong>
  <%= @user.salt %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>

<% unless @user.id == current_user.id %>
  <% if (current_user.followed_by? @user) && (@user.followed_by? current_user)  %>
    <% if @isRoom == true %>
      <p><a href="/rooms/<%= @roomId %>">チャットへ</a>
    <% else %>
      <%= form_for @room do |f| %>
        <%= fields_for @entry do |e| %>
          <%= e.hidden_field :user_id, :value=> @user.id %>
        <% end %>
        <%= f.submit "チャットを始める" %>
      <% end %>
    <% end %>
  <% end %>
<% end %>

<% if current_user.id==@user.id %>
  <%= @user.follow_count %>
  <%= link_to "人気になる", {controller: :users,action: :follow_list,user_id: @user.id}, method: :get %>
  <%= @user.followers_count %>
  <%= link_to "人あなたを気になる", {controller: :users,action: :follower_list,user_id: @user.id}, method: :get%>
<% else %>
  <%= render 'follow' %>
<% end %>